<div class="footerBox" style="background-color:rgb(9, 165, 92); height: 16vh; color: white;">
    <div class="row">
      <div class="col col-md-6 footerTitle">
        <h5 class="white-text footerLarge">Essential Blends</h5>
        <p class="grey-text text-lighten-4 footerSmall">Making Lives Better</p>
<p class="grey-text text-lighten-4 footerSmall">
</p>
      </div>
      <div class="col col-md-6 rightFooter">
<div class="col col-md-6">          
    <span><a class="grey-text text-lighten-3" style="color:white" href="/">Locations</a></span>
</div>
<div class="col col-md-6">
<span><a class="grey-text text-lighten-3" style="color:white" href="/about">About</a></span>
</div>
      </div>
    </div>
</div>