<nav class="navbar navbar-expand-lg py-3 navbar-dark navHome shadow-sm">
  <div class="container">
    <a href="#" class="navbar-brand">
      <span class="text-uppercase font-weight-bold">Essential Blends</span>
    </a>

    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        
      </ul>
    </div>
  </div>
</nav>