/* .footerBox {
    background-color: rgb(9, 165, 92);
color: white !important;
width:100vw;

padding: 0px;
padding-top:20px;
margin-bottom: 0px;
position: absolute;
} */
.footerTitle {
    text-align: left !important;
    padding-left:30px;
}
.footerLarge {
    font-size:1.25rem;
    font-weight: 600;
}
.footerRegular {
    font-size:18px;
}
.footerSmall {
    font-size:14px;
}
.rightFooter {
    padding-top:30px;
}
.mainHome {
    margin: 0%;
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
    width: 100vw;
    background-image: url(/public/images/homepagepic.jpg)
}