
body {
    background-color: white;
}
.setHeight {
    height:82vh;
    padding: 0%;
    margin: 0%;
}
.setWidth {
    padding: 0%;
    margin: 0%;
    width: 100%;
}
.whiteText {
    color: white !important;
}
.left {
    text-align: left !important;
}
.right {
    text-align: right !important;
}
.center {
    text-align: center !important;
}
.container {
    width: 100%;
    margin: 0% !important;
    padding: 0%;
}
.subNavHome {
    margin: 0%;
    padding: 0%;
    height: 4vw;
    width: 100vw;
    color: white;
    background-color: rgb(9, 165, 92);
    font-size: 25px;
    padding-left: 3.5%;
}

.mainHome {
    background-image: url(/images/homepagepic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100vw;
}
.row {
    width: 100%;
}
.swatch1 {
    width: 25%;
    height: 25vh;
    background-image: url(/images/lavender.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0%;
}
.swatch2 {
    width: 25%;
    height: 25vh;
    background-image: url(/images/frankincense.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 24%;
}
.swatch3 {
    width: 25%;
    height: 25vh;
    background-image: url(/images/sandalwood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.swatch4 {
    width: 25%;
    height: 25vh;
    background-image: url(/images/antiaging.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 24%;
}
.swatch5 {
    width: 25%;
    height: 25vh;
    background-image: url(/images/pomegranate.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.swatch6 {
    width: 25%;
    height: 25vh;
    background-image: url(/images/acne.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.carrieroilswatch1 {
    width: 25%;
    height: 25vh;
    background-image: url(/images/sunflower.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0%;
}
.carrieroilswatch2 {
    width: 25%;
    height: 25vh;
    background-image: url(/images/olive.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 24%;
}
.carrieroilswatch3 {
    width: 25%;
    height: 25vh;
    background-image: url(/images/almond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.carrieroilswatch4 {
    width: 25%;
    height: 25vh;
    background-image: url(/images/rosehips.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 24%;
}
.carrieroilswatch5 {
    width: 25%;
    height: 25vh;
    background-image: url(/images/lemon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.carrieroilswatch6 {
    width: 25%;
    height: 25vh;
    background-image: url(/images/jojoba.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.skincare {
  
  
}
.subTitle {
font-family: 'Franklin Gothic Medium';    
margin-left: 5%;
color: rgb(105, 99, 99);
}