<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="js-title-step"></h4>
</div>


<div class="modal-body">
  <div class="row hide" data-step="1" data-title="This is the first step!">
    <div class="jumbotron">This is the first step!</div>
  </div>
  <div class="row hide" data-step="2" data-title="This is the second step!">
    <div class="jumbotron">This is the second step!</div>
  </div>
  <div class="row hide" data-step="3" data-title="This is the last step!">
    <div class="jumbotron">This is the last step!</div>
  </div>
</div>


<div class="modal-footer">
  <button type="button" class="btn btn-default js-btn-step pull-left" data-orientation="cancel" data-dismiss="modal"></button>
  <button type="button" class="btn btn-warning js-btn-step" data-orientation="previous"></button>
  <button type="button" class="btn btn-success js-btn-step" data-orientation="next"></button>
</div>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch wizard modal
</button>

<script>
$('#myModal').modalSteps({
  btnCancelHtml:"Cancel",
  btnPreviousHtml:"Previous",
  btnNextHtml:"Next",
  btnLastStepHtml:"Complete",
  disableNextButton:false,
  completeCallback:function() {},
  callbacks: {},
  getTitleAndStep:function() {}
});
</script>