   <div class="customBlends">
    <div class="row selectionLayout2">
        <div class="col col-md-12 mx-auto">
            <br/>
            <h4>Create a Blend</h4>
        </div>
    </div>
    <br />
    <div class="row selectionLayout2">
        <div class="col col-md-12 mx-auto">
            <h5>Enter the Blend Name</h5>
            <div class="col col-md-4 input-group mb-3 mx-auto">
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
        </div>
    </div>
    <br />
      <div class="row selectionLayout2">
        <div class="col col-md-12 mx-auto">
         <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
                </div>
        </div>
    </div>
    <br />
    <br />
    <div class="row selectionLayout">
        <div class="col col-md-12 mx-auto">
            <h5>Select Essential Oils</h5>
        <div class="col col-md-4 mx-auto">
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#essentialModal">Essential Oils</button>
                  <div class="modal fade" id="essentialModal" role="dialog">
                    <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Select essential oils to add to your blend</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Essential Oil</th>
                                        <th>Quantity</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {{#essentialOils}}
                                    <tr>
                                        <td><img src="/images/essentialoil.png" alt="Smiley face" height="42" width="42"></td>
                                        <td>{{name}}</td>
                                        <td><button onclick="increase(this)">+</button> <button onclick="decrease(this)">-</button>
                                        <td>{{quantity}}</td>
                                    </tr>
                                    {{/essentialOils}}
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
     <div class="row selectionLayout">
        <div class="col col-md-12 mx-auto">
            <h5>Select Carrier Oils</h5>
          <div class="col col-md-4 mx-auto">
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#carrierModal">Carrier Oils</button>
                  <div class="modal fade" id="carrierModal" role="dialog">
                    <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title mx-auto">Choose Carrier Oils</h4>
                        </div>
                        <div class="modal-body">
                        <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Essential Oil</th>
                                        <th>Quantity</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {{#carrierOils}}
                                    <tr>
                                        <td><img src="/images/essentialoil.png" alt="Smiley face" height="42" width="42"></td>
                                        <td>{{name}}</td>
                                        <td>{{quantity}}</td>
                                    </tr>
                                    {{/carrierOils}}
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
        </div>
        </div>
        <br />
        <br />
        <div class="row selectionLayout">
        <div class="col col-md-12 mx-auto">
            <h5>Select Add-Ins</h5>
          <div class="col col-md-4 mx-auto">
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add-Ins</button>
                  <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                        </div>
                        <div class="modal-body">
                        <p>This is a large modal.</p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
    </div>
    </div>
    <br />
    <br />
</div>