 <div class="skincare">
     <br />
     <br />
    <div class="row">
    <div class="col col-md-12 subTitle">
       <h3>Essential oils for the skin</h3>    
    </div>
    </div>
    <div class="row">
        <div class="col col-md-3 swatch2">Oily Skin</div>
        <div class="col col-md-3 swatch1">Dry Skin</div>
        <div class="col col-md-3 swatch3">Sensitive Skin</div>
    </div>
        <div class="row">
        <div class="col col-md-3 swatch4">Anti-Aging</div>
        <div class="col col-md-3 swatch5">Toner</div>
        <div class="col col-md-3 swatch6">Acne</div>
    </div>
    <br />
    <br />
      <div class="row">
    <div class="col col-md-12 subTitle">
       <h3>Carrier Oils for the skin</h3>  
    </div>
    </div>
       <div class="row">
        <div class="col col-md-3 carrieroilswatch2">Oily Skin</div>
        <div class="col col-md-3 carrieroilswatch1">Dry Skin</div>
        <div class="col col-md-3 carrieroilswatch3">Sensitive Skin</div>
    </div>
        <div class="row">
        <div class="col col-md-3 carrieroilswatch4">Anti-Aging</div>
        <div class="col col-md-3 carrieroilswatch5">Toner</div>
        <div class="col col-md-3 carrieroilswatch6">Acne</div>
    </div>
</div>